.square {
  float: left;
  font-size: 37px;
  line-height: 36px;
  height: 36px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 36px;
  background: url("https://cdn.glitch.com/421192fb-0c1e-4772-bb8d-2ca6af678d20%2F880%259KFVAI0T38~9862KV%5BS.png?v=1583643555347");
  background-size: 36px 36px;
}

.square:focus {
  outline: none;
}

.square:hover {
  border: 0.3px black dashed;
}